<form
  [formGroup]="form"
  class="p-fluid"
  (submit)="submit()"
>
  <input
    type="submit"
    class="hidden"
    id="formSubmit"
  />
  <div class="field">
    <label for="tenSP">Sản phẩm</label>
    <input
      type="text"
      name="tenSP"
      id="tenLSP"
      pInputText
      formControlName="tenSP"
    />
  </div>

  <div class="grid">
    <div
      class="field col"
      style="min-width: 200px"
    >
      <label for="">Loại sản phẩm</label>
      <p-dropdown
        [options]="dsloai"
        optionValue="id"
        optionLabel="tenLSP"
        [showClear]="true"
        [filter]="true"
        filterBy="tenLSP"
        formControlName="idLoaiSP"
        placeholder="Loại sản phẩm"
        appendTo="body"
      ></p-dropdown>
    </div>
    <div
      class="field col"
      style="min-width: 200px"
    >
      <label for="">Thương hiệu</label>
      <p-dropdown
        [options]="dsthuonghieu"
        optionValue="id"
        optionLabel="tenTH"
        [showClear]="true"
        [filter]="true"
        filterBy="tenTH"
        formControlName="idThuongHieu"
        placeholder="Thương hiệu"
        appendTo="body"
      ></p-dropdown>
    </div>
  </div>
  <div class="field">
    <label for="anhSP">Ảnh</label>
    <p-fileUpload
      type="text"
      name="anh"
      id="anh"
      accept="image/*"
      [showUploadButton]="false"
      chooseLabel="Chọn"
      cancelLabel="Hủy"
    ></p-fileUpload>
  </div>
  <div class="field">
    <label for="">Mô tả</label>
    <p-editor
      [style]="{ height: '400px' }"
      formControlName="mota"
    >
    </p-editor>
  </div>
</form>
