<p-toolbar>
  <ng-template pTemplate="left">
    <div class="grid">
      <p-button
        label="Thêm mới"
        (onClick)="showAdd()"
        class="col-fixed"
      ></p-button>
    </div>
  </ng-template>
  <ng-template pTemplate="right">
    <span class="p-input-icon-left ml-auto">
      <i class="pi pi-search"></i>
      <input
        pInputText
        type="text"
        #searchInput
        (input)="table.filterGlobal(searchInput.value, 'contains')"
        placeholder="Tìm kiếm"
      />
    </span>
  </ng-template>
</p-toolbar>
<small>Giữ phím Ctrl hoặc Meta để chọn nhiều cột</small>
<p-table
  scrollHeight="calc(100vh - {{ tableOffsetTop }}px)"
  [value]="items"
  [globalFilterFields]="[
    'anhCT',
    'code',
    'gia',
    'ten',
    'kichThuoc',
    'donVi',
    'soLuong',
    'moTa',
    'dvt'
  ]"
  dataKey="id"
  sortMode="multiple"
  [scrollable]="true"
  [(selection)]="selectedItems"
  [paginator]="true"
  [rows]="10"
  [rowsPerPageOptions]="[10, 15, 30]"
>
  <ng-template pTemplate="header">
    <tr class="white-space-nowrap">
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th pSortableColumn="tenSP">
        Tên sản phẩm <p-sortIcon field="idSanPham"></p-sortIcon>
      </th>
      <th pSortableColumn="code">
        Mã SKU <p-sortIcon field="code"></p-sortIcon>
      </th>
      <th pSortableColumn="ten">
        Tên <p-sortIcon field="ten"></p-sortIcon>
      </th>
      <th pSortableColumn="gia">
        Giá nhập <p-sortIcon field="gia"></p-sortIcon>
      </th>
      <th pSortableColumn="anhCT">
        Hình ảnh <p-sortIcon field="anhCT"></p-sortIcon>
      </th>
      <th pSortableColumn="kichThuoc">
        Kích thước <p-sortIcon field="kichThuoc"></p-sortIcon>
      </th>
      <th pSortableColumn="soLuong">
        Số lượng <p-sortIcon field="soLuong"></p-sortIcon>
      </th>

      <th style="width: 4rem"></th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-item
  >
    <tr class="white-space-nowrap">
      <td>
        <p-tableCheckbox [value]="item"></p-tableCheckbox>
      </td>
      <td>
        <div class="font-semibold">{{ item.sanPham?.tenSP }}</div>
      </td>
      <td>
        <div class="font-semibold">{{ item.code }}</div>
      </td>
      <td>
        <div class="font-semibold">{{ item.ten }}</div>
      </td>
      <td>
        <div class="font-semibold">{{ item.gia | number }}đ</div>
      </td>
      <td>
        <p-image
          *ngIf="item.anhCT"
          [preview]="true"
          [src]="item.anhCT | externalUrl"
          appendTo="body"
          height="50"
          width="150"
          [imageStyle]="{ 'object-fit': 'contain' }"
        ></p-image>
        <div
          class="font-semibold"
          *ngIf="!item.anhCT"
        >
          Chưa có ảnh
        </div>
      </td>
      <td>
        <div class="font-semibold">{{ item.kichThuoc }} {{ item.donVi }}</div>
      </td>
      <td>
        <div class="font-semibold">{{ item.soLuong }} {{ item.dvt }}</div>
      </td>

      <td>
        <button
          pButton
          pRipple
          icon="fa-solid fa-info"
          class="p-button-sm p-button-text p-button-info p-button-rounded"
          (click)="showDetail(item)"
        ></button>
        <button
          pButton
          pRipple
          icon="pi pi-trash"
          class="p-button-sm p-button-text p-button-danger p-button-rounded"
          (click)="showDelete(item)"
        ></button>
      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [style]="{ width: '75vw' }"
  [resizable]="true"
  [maximizable]="true"
  appendTo="body"
  header="Thông tin phiếu nhập"
  [breakpoints]="[{ '576px': '100vw' }]"
  [(visible)]="showDialog"
  [modal]="true"
>
  <app-don-nhap
    [value]="selectedItem"
    (validSubmit)="save($event)"
    [sanphams]="dsSanPham"
  ></app-don-nhap>
  <ng-template pTemplate="footer">
    <div class="flex mt-3 justify-content-end">
      <label
        pButton
        pRipple
        label="Lưu"
        *ngIf="!selectedItem"
        class="p-button-outlined p-button-success w-auto"
        icon="fa-regular fa-floppy-disk"
        for="dn_form_submit"
      ></label>
    </div>
  </ng-template>
</p-dialog>
