<form
  [formGroup]="form"
  class="p-fluid"
  (submit)="submit()"
>
  <div class="field">
    <label for="tenTH">Thương hiệu</label>
    <input
      type="text"
      aria-label="tenTH"
      id="tenTH"
      pInputText
      formControlName="tenTH"
    />
  </div>
  <div class="field">
    <label for="logo">Ảnh logo</label>
    <p-fileUpload
      type="text"
      aria-label="logo"
      id="logo"
      accept="image/*"
      [showUploadButton]="false"
      chooseLabel="Chọn"
      cancelLabel="Hủy"
    ></p-fileUpload>
  </div>

  <div class="flex mt-3 justify-content-end">
    <button
      pButton
      pRipple
      label="Lưu"
      class="p-button-outlined p-button-success w-auto"
      icon="fa-regular fa-floppy-disk"
      type="submit"
    ></button>
  </div>
</form>
