<form
  class="p-fluid"
  [formGroup]="form"
  (submit)="submitForm()"
>
  <div class="field">
    <label for="hoTen">Tên khách hàng</label>
    <input
      type="text"
      name="hoTen"
      id="hoTen"
      pInputText
      formControlName="hoTen"
    />
  </div>
  <div class="field">
    <label for="ngaySinh">Ngày sinh</label>
    <p-calendar
      name="ngaySinh"
      id="ngaySinh"
      formControlName="ngaySinh"
      dateFormat="dd/mm/yy"
    ></p-calendar>
  </div>
  <div class="grid">
    <div class="field col-12">
      <label for="">Tỉnh/Thành Phố</label>
      <p-dropdown
        [options]="provinces"
        optionValue="name"
        optionLabel="name"
        formControlName="tinh"
        (ngModelChange)="findAddress($event, 1)"
        [filter]="true"
        filterBy="name"
      ></p-dropdown>
    </div>
    <div class="field col">
      <label for="">Quận/Huyện</label>
      <p-dropdown
        [options]="selectedProvince?.districts ?? []"
        optionValue="name"
        optionLabel="name"
        formControlName="huyen"
        (ngModelChange)="findAddress($event, 2)"
        [filter]="true"
        filterBy="name"
      ></p-dropdown>
    </div>
    <div class="field col">
      <label for="">Phường/Xã</label>
      <p-dropdown
        [options]="selectedDistrict?.wards ?? []"
        optionValue="name"
        optionLabel="name"
        formControlName="xa"
        [filter]="true"
        filterBy="name"
      ></p-dropdown>
    </div>
  </div>
  <div class="field">
    <label for="diaChi">Địa chỉ</label>
    <input
      type="text"
      name="diaChi"
      id="diaChi"
      pInputText
      formControlName="diaChi"
    />
  </div>
  <div class="field">
    <label for="sdt">Số điện thoại</label>
    <input
      type="text"
      name="sdt"
      id="sdt"
      pInputText
      formControlName="sdt"
    />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      pInputText
      formControlName="email"
    />
  </div>

  <div class="flex mt-3 justify-content-end">
    <button
      pButton
      pRipple
      label="Lưu"
      class="p-button-outlined p-button-success w-auto"
      icon="fa-regular fa-floppy-disk"
      type="submit"
    ></button>
  </div>
</form>
