<form action="">
  <div class="field">
    <label for="tenKH">Tên khách hàng</label>
    <input
      type="text"
      name="tenKH"
      id="tenKH"
      pInputText
      formControlName="tenKH"
    />
  </div>
  <div class="field">
    <label for="ngaysinh">Ngày sinh</label>
    <input
      type="text"
      name="ngaysinh"
      id="ngaysinh"
      pInputText
      formControlName="ngaysinh"
    />
  </div>
  <div class="field">
    <label for="diachi">Địa chỉ</label>
    <input
      type="text"
      name="diachi"
      id="diachi"
      pInputText
      formControlName="diachi"
    />
  </div>
  <div class="field">
    <label for="sdt">Số điện thoại</label>
    <input
      type="text"
      name="sdt"
      id="sdt"
      pInputText
      formControlName="sdt"
    />
  </div>
  <div class="field">
    <label for="email">Email</label>
    <input
      type="text"
      name="email"
      id="email"
      pInputText
      formControlName="email"
    />
  </div>


  <div class="flex mt-3 justify-content-end">
    <button
      pButton
      pRipple
      label="Lưu"
      class="p-button-outlined p-button-success w-auto"
      icon="fa-regular fa-floppy-disk"
      type="submit"
    ></button>
  </div>
</form>
